@CHARSET "ISO-8859-1";

body{
	font-size: 10pt;font-weight:normal;
}

.panelGrid td, .panelGrid tr{padding: 0.2em 0.1em;border: none; }

.ui-menu .ui-menu-parent .ui-menu-child {
/*width: 300px;*/
}

.headdiv{
	background-image: url("../images/fondosuperiorLogo.jpg");
	background-size: 100%;
	width: 950px;
	height: 128px;
}


