html{
    /*background:#fff url(../images/template/bg_body.gif) repeat-x;*/
    font-size:90%;
    padding:0;
    font-family: Arial;
}

img{
    border:none;
}

.PanelGridnotd td ,.PanelGridnotd tr {
border-style: none !important;
padding: 2px 2px;
}

.barca {
    background: url(../../../resources/images/semaforizacion/exelente.png) no-repeat;
    height:16px;
    width:16px;
}


/***************************************************************************************************/
.container {
	background-color: null; 
	width: 900px;
	margin: 35px auto 50px auto;
	/*box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);*/
   
}

body {
	background-image: url(../../resources/images/general/bg_general.jpg);
	background-repeat: repeat;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
        
        
}

/*#main
{ width: 1024px;
margin: 0 auto;
_left: 50%;
_margin-left: -400px;
top: 5px;
margin: 35px auto 50px auto;
}*/
/* -------------------------------------------------- NAVIGATION BAR STYLES -------------------------------------------------- */
#nav {
	
    background: -webkit-linear-gradient(#F4F4F4,#03689A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F4F4F4, #03689A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F4F4F4, #03689A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F4F4F4, #03689A); /* Standard syntax */
    /*background-color: #57595B;*/
	height: 34px;
	width: 900px;
	margin: 0 auto;
	/*border-bottom: 5px solid #3B96D2;*/
	position: relative;
}
/* -------------------------------------------------- CONTENT STYLES -------------------------------------------------- */
#content {
	background-image: url(../../resources/images/general/grad.jpg);
	background-repeat: repeat-x;
        background: #F4F4F4;
	width: 100%;
	min-height: 500px;
	margin: -10px 0px 0px 0px;
	clear: both;
        top:20px;
}

#content_header {
	
        background-image: url(../../resources/images/general/grad.jpg);
	background-repeat: repeat-x;
	width: 100%;
	min-height:30px;
	margin: 130px 0px 0px 0px;
	clear: both;
        
}

#content_bottom {
    	background-image: url(../../resources/images/general/grad_bottom.jpg);
	background-repeat: repeat-x;
	width: 100%;
	height: 15px;
	border-bottom: 0px solid #D8D8D8;
}
/***************************************************************************************************/
#cabecera-login
{  width:99%; height: 100%;}

#logoMRLLogin
{/*background: url(../images/logomrl.png) no-repeat 50% 0;*/ width:100%; height: 100%;}

#login_bar {
	width: 455px;
	height: 15px;
	margin-left: 25px;
	padding: 20px 0 0;
}

#header {
	background-image: url(../../resources/images/general/bg_header5.png);
        
        background-repeat: repeat-x;
	width: 100%;
	height: 118px;
        /*Para redondear bordes de header*/
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
         border-radius: 1em;
}

#floating_bar {
	/*background-color: #FFFFFF;*/
	width: 95px;
	height: 110px;
	padding: 0;
	position: relative;
	z-index: 100;
	margin-bottom: -110px;
	top: 0;
	left: 0px;
	/*box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);*/
}

#section_tag { /*Sección del título de sección*/
	background-color: #ffffff;
	max-width: 682px;
	height: 35px;
	z-index: 0;
	position: relative;
	margin-bottom: -55px;
	top: 35px;
	left: 215px;
	/*box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.35);*/
        /*Cambio para redondear bordes*/
       /* -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
         border-radius: 1em;*/
}

#header img.logo {
	width: 154px;
	height: 44px;
	margin: 48px 25px 0 0;
	float: right;
	/*box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.35);*/
}

#section_tag img {
	display: block;
	width: 127px;
	height: 36px;
	margin: 0px 10px 9px;
	/*border: 1px solid #E5E5E5;*/
	overflow: hidden;
	float: right;
}
#section_tag p {
	color: #3B96D2;
        /*top: -50px;*/
        /*display: block;*/
	width: 650px;
	height: 33px;
	font-weight: bold;
        font-size:16px;
	margin: 6px 10px 9px 0;
	padding: 0px 15px 0;
	/*border: 1px solid #E5E5E5;*/
	/*overflow: hidden;
	float: left;*/
}
#footer {
	width: 800px;
        height: 30px;
	padding: 0 50px;
/*	border-top: 10px solid #3B98D2;*/
        background: -webkit-linear-gradient(#F4F4F4,#03689A); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#F4F4F4, #03689A); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#F4F4F4, #03689A); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#F4F4F4, #03689A); /* Standard syntax */
        
}

/* -------------------------------------------------- LOGIN FORM STYLES -------------------------------------------------- */
.form_column {
	width: 200px;
	margin: 25px 0 25px;
	padding: 0 25px;
	float: left;
}
.form_column ul li {
	padding: 15px 0 10px;
	border-bottom: 1px solid #CCCCCC;
}
.form_column_middle {
	width: 400px;
	margin: 25px 0 25px;
	float: left;
}
/*a:link, a:visited {
  color: #999999;
  font-weight : bold;
  text-decoration: none;
}

a:hover{
  color: #3B96D2;
}*/

#log_options {
	width: 150px;
	text-align: center;
	float: right;
	vertical-align: center;
        margin-top: -30px;
}
#log_options a:link, #log_options a:visited {
	color: #999999;
}
#log_options a:hover {
	color: #3B96D2;
	text-decoration: underline;
}

/*#cabecera
{ width: 1024px; z-index:9999; height: 60px; }*/

#cabecera-bloq-izq
{ float:left;width:22%;height: 100%; }

#logoMRL
{background: url(../../resources/images/logo_mrl_web.png) no-repeat 0 0;width:100%;height: 100%;}
header
/*#cabecera-bloq-der
{background: url(../resources/images/hecho.png) no-repeat 650px 5px;float:right;width:78%; height: 100%;  }*/

#usuario
{background: url(../../resources/images/user_2.png) no-repeat 0 2px;padding-left: 65px;}

#num-identidad
{font-weight:bold; display:block; position: relative; top: 4px;}

#nombre-institucion
{ font-weight:bold; display:block;position: relative; top: 2px;}

#nombre-usuario
{color:#445680;font-weight:bold;font-size:1.0em; position: relative; top: 2px;}

/*#menu
{ width:100%; }*/

#bloq-sup-infoUsario
{background: url(../../resources/images/template/f_pestanaInfousuario.png) repeat-x;height:45px}

#cornerLeft01, #cornerRight01
{background: url(../../resources/images/template/fil_pestanaInfousuario_izq.png) no-repeat 0 0; float:left;width:10px;height:45px; }

#cornerRight01
{background: url(../../resources/images/template/fil_pestanaInfousuario_der.png) no-repeat 0 0; float:right}

#bloq-inf
{background: url(../../resources/images/template/f_bloq-inf.png) repeat-x;height:14px;position:relative}

#cornerLeft02, #cornerRight02
{background: url(../../resources/images/template/esq-inf-izq-Ficha.png) no-repeat 0 0; float:left;width:11px;height:14px}

#cornerRight02
{background: url(../../resources/images/template/esq-inf-der-Ficha.png) no-repeat 0 0; float:right;width:11px;height:14px}

#bloq-login
{background: url(../../resources/images/template/f_login.png) repeat-x;height:22px;}

#cornerLoginLeft01, #cornerLoginRight01
{background: url(../../resources/images/template/fil_login_izq.png) no-repeat 0 0; float:left;width:11px;height:23px;  }

#cornerLoginRight01
{background: url(../../resources/images/template/fil_login_der.png) no-repeat 0 0; float:right}

#messages , #messagesUp ,#messagesDown, #messagePopup
{ width: 100%; text-align: center;  }

#messagesUp
{ margin-top: -15px;}

#contenido, #contenido2, #contenido3
{ background:#e7e7e7 url(../../resources/images/template/fil_ficha_izq.png) repeat-y left}

#contenidoDer
{ background: url(../../resources/images/template/fil_ficha_der.png) repeat-y right;padding:15px}

#contenidoDer2,#contenidoDer3
{ background: url(../../resources/images/template/fil_ficha_der.png) repeat-y right; padding-left: 15px;}

#subMenuForm
{ width: 920px; height: auto; margin-bottom: -5px; color: black;}

/*#panelBase
{ padding: 3px 3px 3px 3px; /*border-width: 1px; border-style: solid; border-color: #71a6d0 ;*/
/*  background-color: #f1f1f1;
  color: #616161;
  -moz-border-radius: 10px; -webkit-border-radius: 10px; }*/


#panelBase2
{padding: 3px 10px 3px 10px; text-align: center; background-color: #DDD; margin-left: 800px; margin-right: 20px;
 /* background: url( '../images/ui-bg_gloss-wave_55_5c9ccc_500x100.png.jsf.png' ) repeat-x center left;*/
 -moz-border-radius:  10px 10px 0 0 ;
 -webkit-border-radius: 10px 10px 0 0 ; }

.bloq_avisaPeriodoEvaluacion
{background:url(../../resources/images/template/bloq_avisaPeriodoEvaluacion_2.png) no-repeat;width:801px;height:57px;padding:25px 20px;text-align:center;margin:10px auto;}

/*#bloq_avisaPeriodoEvaluacion p
{color:#a7a7a7;font:normal 1.2em Arial;margin:3px 3px 6px 3px}*/

/*.sep-bloques02, .sep-bloques03
{background: url(../images/template/sep_tbl-DatsEvaluado.gif) repeat-x 0 5px;padding:15px}*/

/*.sep-bloques03
{background-position:bottom;padding:0 0 15px 0;position:relative}

.sep-bloques02 div.cont-form03 label
{position:relative;margin-bottom:10px}*/

/***********************************************************************************************************/
.error{
    line-height: 200%;
    padding-left: 15px;
    background: url( '../../resources/rime/css-images/bullet.gif' ) no-repeat scroll 0 3px transparent;
    font-size: 90%;
}

.info{
    color: blue;
    line-height: 200%;
    padding-left: 15px;
    background: url( '../../resources/rime/css-images/bullet.gif' ) no-repeat scroll 0 3px transparent;
    font-size: 90%;
}

/***********************************************************************************************************/
/********************************/
/*            MENUS             */
/********************************/
/* >>>>>>>>>> Menu <<<<<<<<<<<< */
.styleMenuJnkItem
{    background: url(../../resources/images/template/f_pestanaInfousuario.png) repeat-x 0 0; }

.styleMenuJnkItem a, .styleMenuJnkItem span
{color: white;}

/* >>>>>>>>>> SubMenu <<<<<<<<<<<< */
.styleMenuJnk2Item
{    background: url(../../resources/images/template/pixelE7.png) repeat 0 0; }

.styleMenuJnk2Item a, .styleMenuJnk2Item span
{color: #444;}


/***********************************************************************************************************/
/********************************/
/*        PANELES LOGIN         */
/********************************/

.manualPanel
{ top:45px; left:10px; _left:0px; max-width:300px; font-size:80%; text-align:justify; font-weight: bold;
  color: black; text-align: center;
  padding:7px; -moz-border-radius:10px; -webkit-border-radius:10px; }

.border-contenedor-login
{ width: 400px; padding: 5px;
  /*  border:solid 3px #DDD;*/
  -moz-border-radius: 10px; -webkit-border-radius: 10px; }

.infoPanel
{ top:45px; left:10px; _left:0px; max-width:300px; font-size:80%; text-align:justify; font-weight: bold;
  color: black; text-align: center;
  padding:7px; -moz-border-radius:10px; -webkit-border-radius:10px; }

/***********************************************************************************************************/
/********************************/
/*         ADIONALES            */
/********************************/
.col2{
    width: 2%;
}
.col18{
    width: 18%;
}
.col10{
    width: 10%;
}
.col20{
    width: 20%;
}
.col30{
    width: 30%;
}
.col40{
    width: 40%;
}
.col50{
    width: 50%;
}
.col60{
    width: 60%;
}
.col70{
    width: 70%;
}
.col80{
    width: 80%;
}
.col90{
    width: 90%;
}
.col100{
    width: 100%;
}

.ligthBorder
{ padding: 5px 5px 5px 5px;

  /*  border: 1px  solid #DDD;*/
  -moz-border-radius: 5px; -webkit-border-radius: 5px; }

.border
{ padding: 5px;
  border: 2px solid #DDD;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; }

.borderGray{
    padding: 5px;
    /*    border: 1px solid #71a6d0;*/
    border: 2px solid #DDD;
    -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

.borderGraySecundaria{
    padding: 5px;
    border: 1px solid #DDD;
    -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

.dotBorder{
    border-bottom: 3px dotted #444;
    min-width: 800px; margin-bottom: 5px;
}

.borderGris{
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 100%;
}

.toolLink, .linkExit
{ font-size: 90%; font-weight:bold;
  margin-left: 5px; margin-right: 5px; }

.linkExit
{font-weight:bold;font-size:1.0em;position:relative;top:10px;}

.error
{    background: url( '../../resources/rime/css-images/bullet.gif' ) no-repeat scroll 0 3px transparent;
     line-height: 200%; padding-left: 15px; font-size: 90%; color: red; }

.info
{ background: url( '../../resources/rime/css-images/bullet.gif' ) no-repeat scroll 0 3px transparent;
  line-height: 200%; padding-left: 15px; font-size: 90%; color: blue;   }

.expanded{
    width:250px;
}

.status{
    position: absolute;
    top: 105px;
    left: 160px;
}

#login
{ font-size: 11px;  color: black;  }

.fondoBarraSuperior {
    height: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px ;
    padding: 5px 5px 5px 25px;
    font-weight: bold;
    background: url( '../../images/ui-bg_gloss-wave_55_5c9ccc_500x100.png.jsf.png' ) repeat-x center left;
    /*    border: 1px solid #4297d7;*/
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    /*    -moz-border-radius: 10px ;
        -webkit-border-radius: 10px ; */

}

.fondoBarraSuperiorLabel
{ color: white;}

.fondoBarraInterna{
    padding: 5px;
    /*    border: 1px solid #4297d7;*/
    -moz-border-radius: 5px; -webkit-border-radius: 5px;
    margin-bottom: 4px;
    /*    background: url( '../images/ui-bg_gloss-wave_55_5c9ccc_500x100.png.jsf.png' ) repeat-x center left;*/
    background-color: #CDCDCD;
    /*background-color: #88b6da;*/
    /*    background-color: #71a6d0;*/
    font-weight: bold;
}
.fondoBarraInternaLabel{
    color: #444;
}
.botonesAcciones{
    width: 100px;
}
.botonesDerecha
{margin-left: 90%; }

.botonSalirPopup
{ margin-left: 50%; width: 60px; font-weight: bold;}

/*.botonSalirPopup
{position: absolute; top: 35px; left: 97%; margin-right: 10px; width:14px; height: 14px;  background: url( '../img/botones/close.png' ) repeat-x center left;}*/


.tbl-DatsEvaluado
{ background: url(../../resources/images/template/sep_tbl-DatsEvaluado.gif) repeat-x bottom;height:auto; }

.border_datsEvaluado
{background:url(../../resources/images/template/border_datsEvaluado.gif) repeat-y; height: auto;}

.border_datsEvaluadoPeque
{background:url(../../resources/images/template/border_datsEvaluado.gif) repeat-y; height: auto;}

.ico_Evaluado
{background: url(../../resources/images/template/ico_Evaluado.png) no-repeat;padding:7px 30px;font:bold 1.7em Arial;color:#252558}

.ico_Unidad
{background: url(../../resources/images/template/ico_unidad.png) no-repeat;padding:7px 30px;font:bold 1.7em Arial;color:#252558}

.tbl-text
{color:#323265;font:bold 1.1em Arial}

.tbl_label
{ float: left;font-size: 12px; color: grey; }


.lblText {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;

}

/*------------- CLEARFIX HACK -------------*/
.clearfix {
	zoom: 1;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: block;
	height: 0;
	overflow: hidden;
}
.clearfix:after {
	clear: both;
}

.instrucciones {
	text-align: center;
	padding-top: 10px;
	color: #ffffff;
	font-weight: bold;
}
p.print {
	color: #7F7F7F;
	font-size: 0.8125rem;
	text-align: center;
}

.print_opt {
	width: 100px;
	margin: 0 auto;
}

.pdf {
	display: block;
	width: 58px;
	margin: 20px 5px;
	font-size: 0.8125rem;
	text-align: center;
	padding: 10px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
}

.label {
	color: #7F7F7F;
	display: block;
	font-size: 0.75rem;
	font-weight: bold;
	width: 100px;
	height: 24px;
	text-align: right;
	margin-bottom: 10px;
	padding-top: 6px;
	float: left;
	overflow: hidden;
}
.txt {
	width: 250px;
	height: 28px;
	margin-bottom: 10px;
	float: right;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px;
	font-size: 14px !important;
}

.ui-button {
	background : none !important;
	background-color: #656565 !important;
	color: #FFFFFF !important;
	/*display: block !important;*/
	font-family: Tahoma, Geneva, sans-serif !important;
	padding: 4px !important;
	border: 0 !important;
	border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
    	/*margin: auto !important*/
}

.ui-button:hover{
	background-color: #3B98D2 !important;
}
.warning {
	clear: both;
	width: 755px;
	display: block;
	margin: 0 15px;
}

#login_info {
	color: #333333;
	width: 470px;
	margin-right: 25px;
        margin-top: -16px; /*margen de la informacion del usuario*/
	/*float: left;*/
}
.form_container {
        background-color: #DDD;
	width: 898px;
	margin: 0 auto;
	padding: 3px 0;
	border-left: 0px solid #CCCCCC;
	border-right: 0px solid #CCCCCC;
	border-bottom: 0px solid #CCCCCC;
}
.form_heading {
	background-image: url(../../resources/images/formularios/heading_bg.jpg);
	background-repeat: repeat-x;
	width: 100%;
	height: 28px;
	position: relative;
}
label {
	display: block;
	font-weight: bold;
	text-align: left;
}

fieldset {
	border:none !important;
	border-top: 1px solid #CCCCCC !important;
	padding: 0 0 !important;
        margin-top: -10px;
}

legend {
	background : none !important;
        border: none !important;
	color: #3B96D2 !important;
	font-size: 15px !important;
	font-weight: bold !important;
        margin-top: 20px;
	/*padding: 0 1px !important;*/
}

.btn {
	display: block;
	width: 22px;
	height: 22px;
	margin-right: 10px;
	padding: 3px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	/*float: right;*/
	margin:auto !important
}
.btn:link, a.btn:visited {
	border: 2px solid #D8D8D8;
}
.btn:hover {
	border: 2px solid #3B96D2;
}

/*select {
	border: 0 !important;  
	-webkit-appearance: none;  
	-moz-appearance: none; 
	//background: #7F7F7F;// url(../../resources/images/select-arrow.png) no-repeat 90% center;
	width: 100%; 
	text-indent: 0.01px; 
	text-overflow: ""; 

	color: #7F7F7F;
	border-radius: 15px;
	padding: 5px;
	box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
}*/

th {
	/*background : none !important;*/
	/*background-color: #3B96D2 !important;*/
    
    background: -webkit-linear-gradient(#03689A,#F4F4F4)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#03689A,#F4F4F4 )!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#03689A,#F4F4F4 ) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#03689A,#F4F4F4 )!important; /* Standard syntax */
	
        color: #ffffff !important;
	font-weight: bold !important;
	text-align: center !important;
	/*padding: 10px 5px !important;*/
	border-right: 1px solid #B2B2B2 !important;
}

tbody{
    text-align: center !important;
}
