@CHARSET "ISO-8859-1";

body{
	font-size: 8pt;font-weight:normal;
}

.ui-layout-north {
     z-index:20 !important;
     overflow:visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}

.formulario {
	border-collapse: collapse;
	width: 100%;
}

textarea {
	resize: none;
	width: 100%;
}

