@CHARSET "ISO-8859-1";

body{
	font-size: 9pt;font-weight:normal;
}

.ui-layout-north {
     z-index:20 !important;
     overflow:visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}

.formulario {
	border-collapse: collapse;
	width: 100%;
}

textarea {
	resize: none;
	width: 98%;
}

.selector
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


.menu {
    background:#345;
    color:#FFF;
    height:2em;
    padding:.5em;
    position:absolute;
    top:50px;
    width:100%;
}
.fixed {
    position:fixed;
    top:0;
}

 #footer {
	   position:absolute;
	   bottom:0;
	   width:99%;
	   height:30px;            /* Altura del footer */
}

.pnlGrid {
	background-color:#FFFFFF;
	border-collapse: collapse;
	width: 99%;
	text-align: center;
}
