body
{
	/*background-image: url('../images/bgbody-9.jpg');*/
	/*background-color: #322724;
	/*background-repeat:no-repeat;*/
}
.table
{
	border:1px solid #BBBBBB;
}

.ui-datagrid-column{
	vertical-align: top;
	text-align: center;
}

.typeLetter{
	font-family: Segoe UI,Arial,sans-serif;
    font-size: 1.1em;
}


a.linkClass:link {color: #F57B20;text-decoration: none;font-family: Segoe UI,Arial,sans-serif;}
a.linkClass:active {color: #F57B20;font-family: Segoe UI,Arial,sans-serif;}
a.linkClass:visited {color: #F57B20;font-family: Segoe UI,Arial,sans-serif;}
a.linkClass:hover {color: #FAA723; text-decoration: underline;font-family: Segoe UI,Arial,sans-serif;}

a.linkClass2:link {color: #000000;text-decoration: none;font-family: Segoe UI,Arial,sans-serif;}
a.linkClass2:active {color: #F57B20;font-family: Segoe UI,Arial,sans-serif;}
a.linkClass2:visited {color: #F57B20;font-family: Segoe UI,Arial,sans-serif;}
a.linkClass2:hover {color: #FAA723; text-decoration: underline;font-family: Segoe UI,Arial,sans-serif;}


a.linkClass3:link {color: #000000;text-decoration: none;font-family: Segoe UI,Arial,sans-serif;}
a.linkClass3:active {color: #FFFFFF;font-family: Segoe UI,Arial,sans-serif;}
a.linkClass3:visited {color: #F57B20;font-family: Segoe UI,Arial,sans-serif;}
a.linkClass3:hover {color: #FFFFFF; text-decoration: underline;font-family: Segoe UI,Arial,sans-serif;}


a.linkClassNoticia:link {color: #F57B20;text-decoration: none;font-family: Segoe UI,Arial,sans-serif;font-size: 1.2em;}
a.linkClassNoticia:active {color: #F57B20;font-family: Segoe UI,Arial,sans-serif;font-size: 1.2em;}
a.linkClassNoticia:visited {color: #F57B20;font-family: Segoe UI,Arial,sans-serif;font-size: 1.2em;}
a.linkClassNoticia:hover {color: #FAA723; text-decoration: underline;font-family: Segoe UI,Arial,sans-serif;font-size: 1.2em;}



.footerdiv
{
	background-image: url("../images/fondoinferior.jpg");
	background-size: 100%;
	width: 1000px;
	height: 165px;
}

.headdiv{
	background-image: url("../images/fondosuperiorLogo.jpg");
	background-size: 100%;
	width: 950px;
	height: 112px;
}


.descripcion{
	color: #BBBBBB;
	font-size: 20px;
	font-family: Segoe UI,Arial,sans-serif;
}

.descripcionLetter{
	color: #F57B20;
	font-size: 20px;
	font-family: Segoe UI,Arial,sans-serif;
}


.descripcionBlack{
	color: #000000;
	font-size: 16px;
	font-family: Segoe UI,Arial,sans-serif;
}

.descripcionBlack2{
	color: #000000;
	font-size: 13px;
	font-family: Segoe UI,Arial,sans-serif;
}


.line-separator{
	height:1px;
	background:#BBBBBB;
	border-bottom:1px solid #BBBBBB;
}

.ui-datagrid-content {
   border: none;
   background-color: white;
   background: white;
}


#navSocial{position:relative;top: -5px; float: right; left: -130px;}
#navSocial li{margin:0;padding:0;list-style:none;position:absolute;top:-10px;}
#navSocial li, #navSocial a{height:40px;display:block;}

#facebook{width:60px;height: 70px;}
#facebook{background:url('../images/logoysocial.png') -260px -30px;}

#facebook:hover{width:40px;height: 70px;left: 60px;}
#facebook:hover{background:url('../images/logoysocial.png')-323px -30px;}

#twitter{width:50px;height: 70px;left: 100px;}
#twitter{background:url('../images/logoysocial.png') -365px -30px;}

#twitter:hover{width:40px;height: 70px;}
#twitter:hover{background:url('../images/logoysocial.png')-408px -30px;}


/*Menu Principal*/

#navlist{position:relative;top: -17px;left: 15px;}
#navlist li{margin:0;padding:0;list-style:none;position:absolute;top:0;}
#navlist li, #navlist a{height:33px;display:block;}


#home{left:0px;width:64px;}
#home{background:url('../images/menutrans.png') 0 -445px;}

#home:hover{left:0px;width:64px;}
#home:hover{background:url('../images/menutrans.png') 0 0;}

#home2{left:0px;width:64px;}
#home2{background:url('../images/menutrans.png') 0 0;}

#atenea{left:64px;width:68px;}
#atenea{background:url('../images/menutrans.png') -232px -445px;}

#atenea:hover{left:65px;width:68px;}
#atenea:hover{background:url('../images/menutrans.png') -232px 0;}

#atenea2{left:65px;width:68px;}
#atenea2{background:url('../images/menutrans.png') -232px 0;}

#argos{left:132px;width:66px;}
#argos{background:url('../images/menutrans.png') -152px -445px;}

#argos:hover{left:132px; width:66px;}
#argos:hover{background:url('../images/menutrans.png') -152px 0;}

#argos2{left:132px; width:66px;}
#argos2{background:url('../images/menutrans.png') -152px 0;}


#espejo{left:196px; width:72px;}
#espejo{background:url('../images/menutrans.png') -75px -445px;}

#espejo:hover{left:196px; width:72px;}
#espejo:hover{background:url('../images/menutrans.png') -75px 0;}

#somos{left:262px; width:130px;}
#somos{background:url('../images/menutrans.png') -408px -445px;}

#somos:hover{left:262px; width:130px;}
#somos:hover{background:url('../images/menutrans.png') -408px -1px;}

#usuario{left:750px; width:205px;}
#usuario{background:url('../images/menutrans.png') -530px -445px;}

#usuario:hover{left:750px; width:185px;}
#usuario:hover{background:url('../images/menutrans.png') -538px -1px;background-repeat: no-repeat;}



.logoInferior{
	width:110px; height:70px;
	background:url('../images/logoysocial.png') -150px 0;
}

